<%- include('includes/header.ejs') %>

<body>
  <main>
    <div>
      <h3>
        Welcome to OTA update information page
      </h3>
      <ul>
        <li><a href="/manufacturers">Manufacturer infromation </a></li>
        <!-- <li><a href="/newBatch">New batch</a></li> -->
        <li><a href="/uploadBin">Upload binary file</a></li>
        <li><a href="/batches">Batch infromation </a></li>
        <li><a href="/esps">ESP programmer infromation </a></li>
        <li><a href="/updatetrack">Update track</a></li>
        <li><a href="/binfileinfo">Binary file information</a></li>
        <li><a href="/addInformation.html">Add information</a></li>
      </ul>
    </div>
  </main>

  <%- include('includes/footer.ejs') %>
